test.*
tests.*
.vscode/
*.json
*.in
*.out
*.ans
hyundai/
twitter_gatcha.py
*.html
*.ipynb
crawler.py
contest6_testdata/
railgunproject.py
make_test_data
input.*
puzzle.txt
test3.py
vaddict_crawler.py
asdf.*